<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/style.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"
      defer
    ></script>
    <script
      src="https://api.themoviedb.org/3/movie/550?api_key=3573581ba694cfe31b4acc947e342111"
      defer
    ></script>
    <script src="./assets/script.js" defer></script>
    <title>Projet Vue.js</title>
</head>

<body>
  <body>
    <section id="app">
      <header>
        <!-- Navbar -->
        <section id="nav">
          <nav>
            <div class="nav-item nav-identity">
              <img
                src="./assets/img/Logo_POPCHIL_version_Bleu.png"
                alt="popchill-logo"
                class="nav-logo"
              />
              <p class="">Popchill</p>
            </div>
            <div class="nav-item nav-search">
              <img
                src="./assets/img/search-icon.png"
                alt="search-icon"
                class="nav-icon"
              />
              <input
                v-on:keyUp="inputResearch()"
                type="text"
                placeholder="Rechercher"
                v-model="research"
              />
            </div>
          </nav>
        </section>

        <!-- Banner -->
        <section v-if="!researchOn" id="banner">
          <div style="position: relative" class="parent-container">
            <div
              class="child-container"
              style="position: absolute; width: 100%; height: 100%"
            >
              <img
                v-on:click="followingCarousel()"
                src="./assets/img/arrow.png"
                alt="white-arrow"
                class="arrow arrow-left"
              />
              <div class="banner-movie-info">
                <h2>{{tableMovie[indexCarousel].title}}</h2>
                <hr />
                <p>{{tableMovie[indexCarousel].overview}}</p>
              </div>
              <img
                v-on:click="previousCarousel()"
                src="./assets/img/arrow.png"
                alt="white-arrow"
                class="arrow arrow-right"
              />
            </div>
            <img
              style="width: 100%"
              :src="getMoviePathBanner(tableMovie[indexCarousel].backdrop_path)"
              alt=""
            />
          </div>
        </section>
      </header>

      <main>
        <div v-if="!researchOn">
          <!-- favorites -->
          <section id="favorites">
            <div class="section-header">
              <h2>Favoris</h2>
              <hr />
            </div>
            <div id="interactive-list">
              <div class="movies-grid" v-if="tableMovie.length != 0">
                <div
                  v-for="movie in tableMovie"
                  v-if="tableFavorite.includes((movie.id).toString())"
                  class="parent-container"
                >
                  <!-- <div v-if="idmovie == movie.id"> -->
                  <div
                    class="btn-container show-hover"
                    style="
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0,0,0,0.8);
                    "
                  >  
                    <h3 class="movie-title">{{movie.title}}</h3>
                    <p class="release-date">{{movie.release_date}}</p>
                    <hr>
                    <!-- <p class="movie-desc">{{movie.overview}}</p> -->
                    <p class="movie-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi dolorem deserunt accusantium at reprehenderit culpa natus voluptatibus sequi, omnis obcaecati, pariatur ducimus et, vitae suscipit laborum magnam saepe veniam rerum?</p>
                    <hr>
                    <div class="movie-bottom">
                      <p class="movie-rate">Note : {{movie.vote_average}}/10</p>
                      <favorite-btn
                        v-bind:getfavorite="getFavorite"
                        v-bind:idmovie="movie.id"
                        :tablefavorite="tableFavorite"
                      ></favorite-btn>
                  </div>
                  </div>
                  <img
                    style="width: 100%"
                    :key="movie.id"
                    :src="getMoviePath(movie.poster_path)"
                    alt=""
                  />
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </section>
          <section id="ad-banner"></section>
          <!-- Tous nos films -->
          <section id="movies-list">
            <div class="section-header">
              <h2>Tous nos films</h2>
              <hr />
            </div>
            <div id="interactive-list">
              <div class="movies-grid" v-if="listLook.length != 0">
                <div v-for="boucle in listLook">
                  <div style="position: relative" class="parent-container">
                    <div
                      class="btn-container show-hover"
                      style="
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.8);
                      "
                    > 
                      <p>{{tableMovie[boucle-1].title}}</p>
                      <p>{{tableMovie[boucle-1].release_date}}</p>
                      <p>{{tableMovie[boucle-1].overview}}</p>
                      <p>Note : {{tableMovie[boucle-1].vote_average}}/10</p>
                      <favorite-btn
                        v-bind:getfavorite="getFavorite"
                        v-bind:idmovie="tableMovie[boucle-1].id"
                        :tablefavorite="tableFavorite"
                      ></favorite-btn>
                    </div>
                    <img
                      style="width: 100%"
                      :key="tableMovie[boucle-1].id"
                      :src="getMoviePath(tableMovie[boucle-1].poster_path)"
                      alt=""
                    />
                  </div>

                  <favorite-btn
                    v-bind:getfavorite="getFavorite"
                    v-bind:idmovie="tableMovie[boucle-1].id"
                  ></favorite-btn>
                </div>
              </div>
              <button v-on:click="ShowMore()" class="button">
                {{showButtonMore}}
              </button>
            </div>
          </section>
        </div>

        <section v-if="researchOn" class="research">
          <section id="movies-list">
            <div class="section-header">
              <h2>Recherche</h2>
              <hr />
            </div>
            <div id="interactive-list">
              <div class="movies-grid" v-if="tableMovie.length != 0">
                <div
                  v-for="movie in tableMovie"
                  v-if="(((movie.title).toLowerCase()).includes(research.toLowerCase()) || ((movie.original_title).toLowerCase()).includes(research.toLowerCase())) && research != ''"
                >
                  <div
                    style="position: relative"
                    class="parent-container grid-item"
                  >
                    <div
                      class="btn-container show-hover"
                      style="
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.8);
                      "
                    >
                      <p>{{movie.title}}</p>
                      <p>{{movie.release_date}}</p>
                      <p>{{movie.overview}}</p>
                      <p>Note : {{movie.vote_average}}/10</p>
                      <favorite-btn
                        v-bind:getfavorite="getFavorite"
                        v-bind:idmovie="movie.id"
                        :tablefavorite="tableFavorite"
                      ></favorite-btn>
                    </div>
                    <img
                      style="width: 100%"
                      :key="movie.id"
                      :src="getMoviePath(movie.poster_path)"
                      alt=""
                    />
                  </div>
                  <favorite-btn
                    v-bind:getfavorite="getFavorite"
                    v-bind:idmovie="movie.id"
                  ></favorite-btn>
                </div>
              </div>
            </div>
          </section>
        </section>
      </main>
    </section>
      <section class="newsletter">
        <p>Inscrivez-vous à notre Newsletter pour ne rien rater !</p>
        <div>
          <form @click.prevent>
            <div class="center">
              <input type="email" id="email" name="email" placeholder="Email" /
              class="border">
              <button class="border1">Envoyer</button>
            </div>
          </form>
        </div>
      </section>

      <footer class="footer">
        <div class="global">
          <div class="test">
            <img src="./assets/img/Logo_POPCHIL_version_Bleu.png" alt="logo" />
          </div>
          <div class="about">
            <h2 class="below-title">Qui sommes nous ?</h2>

            <p class="popchill">
              Popchill est un service de streaming qui permet de regarder
              <br />des séries et des films sur un appareil connecté à Internet.
              <br />Vous pouvez également télécharger des séries et des films<br />
              sur votre appareil iOS, Android ou Windows 10 pour les regarder
              hors ligne.
            </p>
          </div>

          <div class="info">
            <h2 class="contact">Contact</h2>
            <!-- <hr /> -->
            <div class="info-content">
              <li>
                Support
                <i class="bx bxs-user-circle"></i>
              </li>
              <li>
                Discord
                <i class="bx bxl-discord-alt"></i>
              </li>
              <li>
                Twitter
                <i class="bx bxl-twitter"></i>
              </li>
              <li>
                Mail
                <i class="bx bx-envelope"></i>
              </li>
            </div>
          </div>
        </div>

        <div class="copyright">
          <div class="copyright-hr">
            <!-- <div class="copyright-hr-content"><hr class="testeee" /></div> -->
          </div>
          <p class="copyright">Copyright - La Manu 2023</p>
        </div>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://api.themoviedb.org/3/movie/550?api_key=3573581ba694cfe31b4acc947e342111"></script>
</body>
</html>

